language: node_js

node_js:
  - 'stable'

before_script:
  - npm install -g grunt-cli bower
  - bower install
  - "export DISPLAY=:99.0"
  - "sh -e /etc/init.d/xvfb start"

script:
  - grunt karma:ci
