<!DOCTYPE html>
<html lang="en">
    <head>
        <title>VividCortex reCaptcha Directive Example</title>

        <!-- Bootstrap is NOT required, it's just here to make the example look better -->
        <link href="https://netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet">

        <!-- Include AngularJS -->
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>

        <!-- Include the JS ReCaptcha API -->
        <script type="text/javascript" src="https://www.google.com/recaptcha/api/js/recaptcha_ajax.js"></script>

        <!-- Include the ngReCaptcha directive -->
        <script src="./angular-recaptcha.min.js"></script>

        <!-- define your app and make it depend on vcRecaptcha module -->
        <script>
            var app = angular.module('testApp', ['vcRecaptcha']);

            app.controller('testCtrl', function ($scope, vcRecaptchaService) {
                console.log("this is your app's controller");

                $scope.submit = function () {
                    var valid;

                    console.log('sending the captcha response to the server', $scope.model.captcha);

                    // You need to implement your server side validation here.
                    // Send the model.captcha object to the server and use some of the server side APIs to validate it
                    // See https://developers.google.com/recaptcha/docs/

                    if (valid) {
                        console.log('Success');

                    } else {
                        console.log('Failed validation');

                        // In case of a failed validation you need to reload the captcha because each challenge can be checked just once
                        vcRecaptchaService.reload();
                    }
                };
            });
        </script>

    </head>
    <body>
    <div class="container" ng-app="testApp" ng-controller="testCtrl">

        <h1>VividCortex reCaptcha Directive Example</h1>

        <form>
            <div
                vc-recaptcha
                ng-model="model.captcha"
                tabindex="3"
                theme="clean"
                key="--- REPLACE HERE YOUR PUBLIC KEY !!! ----"
            ></div>

            <!-- Call some method in the scope to handle data submit -->
            <button class="btn" ng-click="submit()">Submit</button>
        </form>

        <!-- use the model.captcha value in your controllers to submit the result to the server and validate -->
        <div>
            <pre>{{ model.captcha }}</pre>
        </div>

    </div>
    </body>
</html>
